@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@300;400;700&display=swap');
/*Reset*/

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

:root {
    --text-color: #00aa00;
}

html {
    height: 100%;
}

body {
    font-family: 'Roboto Mono', sans-serif;
    background-color: rgb(22, 22, 22);
    color: #ccc;
    font-size: 18px;
    line-height: 1.6;
    min-height: 100%;
    display: grid;
    grid-template-rows: 1fr auto;
}

.icon {
    color: var(--text-color);
    font-size: 150px;
    font-weight: 700;
    letter-spacing: -25px;
    margin-right: 50px;
}

h1 {
    color: var(--text-color);
    font-size: 50px;
    letter-spacing: -5px;
}

h2 {
    color: var(--text-color)
}

.sub-heading {
    font-size: 30px;
    color: #ccc;
    margin-top: -14px;
    margin-left: 5px;
}

h3 {
    margin-bottom: 10px;
}

ul {
    list-style-type: none;
}

a {
    color: var(--text-color);
    text-decoration: none;
}

p {
    margin: 20px 0;
}

nav {
    width: 40%;
    margin-top: 5px;
}

nav ul {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

nav ul li {
    color: var(--text-color);
    font-size: 22px;
    padding-left: 15px;
}

.container {
    max-width: 1000px;
    margin: auto;
    height: 70vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.footer-container {
    grid-row-start: 2;
    grid-row-end: 3;
    display: flex;
    justify-content: center;
    background-color: #333;
}

.link-container {
    padding: 1em;
}

.link-container a {
    padding-left: 1em;
    color: #ccc;
}

.link-container a:hover {
    color: var(--text-color);
}

.wb-body {
    background: #111;
    padding: 20px;
}

.hidden {
    display: none;
}

.cursor {
    font-weight: 700;
    animation: 1s blink step-end infinite;
}

@keyframes blink {
    from, to {
        color: transparent;
    }
    50% {
        color: var(--text-color);
    }
}